openapi: 3.0.3
info:
  title: AtomGit API
  description: AtomGit平台API接口文档
  version: 5.0.0
servers:
- url: https://api.atomgit.com
  description: AtomGit API 生产服务器
paths:
  /api/v5/org/{owner}/kanban/{kanban_id}/item_list:
    get:
      summary: 查询看板内容列表
      operationId: get_delete-api-v-5-org-owner-kanban-kanban-id-item-list
      tags:
      - API
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
        description: 组织的路径
      - name: kanban_id
        in: path
        required: true
        schema:
          type: string
        description: 看板id
      - name: access_token
        in: query
        required: false
        schema:
          type: string
        description: 用户授权码
      - name: repo
        in: query
        required: false
        schema:
          type: string
        description: 仓库路径
      - name: source_type
        in: query
        required: false
        schema:
          type: string
        description: 来源类型 issue/merge_request
      - name: source_status
        in: query
        required: false
        schema:
          type: string
        description: 来源状态 opened/closed/merged
      - name: title
        in: query
        required: false
        schema:
          type: string
        description: 标题
      - name: source_iids
        in: query
        required: false
        schema:
          type: string
        description: 使用pr或者issue的iid进行查询, 使用该参数必须填写repo参数，否则不生效
      - name: page
        in: query
        required: false
        schema:
          type: string
        description: 分页参数，第几页
      - name: per_page
        in: query
        required: false
        schema:
          type: string
        description: 分页参数，每页数量
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  number:
                    type: integer
                  title:
                    type: string
                  source_type:
                    type: string
                  status:
                    type: string
                  html_url:
                    type: string
                  url:
                    type: string
                  repo:
                    type: object
                  full_name:
                    type: string
                  human_name:
                    type: string
                  name:
                    type: string
                  labels:
                    type: array
                  color:
                    type: string
                  assignees:
                    type: array
                  login:
                    type: string
                  avatar_url:
                    type: string
                  milestone_resp:
                    type: object
                  linked_pull_requests:
                    type: array
                  state:
                    type: string
                  values:
                    type: array
                  field_name:
                    type: string
                  field_type:
                    type: string
                  value:
                    type: string
                  position:
                    type: integer
                  description:
                    type: string
                  reviewers:
                    type: array
      x-doc-link: list/delete-api-v-5-org-owner-kanban-kanban-id-item-list.md
  /org/{owner}/kanban/{kanban_id}/remove_item:
    delete:
      summary: 删除看板关联的Issue或者Pull Request
      operationId: delete_delete-api-v-5-org-owner-kanban-kanban-id-remove-item
      tags:
      - API
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
        description: 组织的路径
      - name: kanban_id
        in: path
        required: true
        schema:
          type: string
        description: 看板id
      - name: access_token
        in: query
        required: false
        schema:
          type: string
        description: 用户授权码
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                issue_pr_iids:
                  type: object
                  description: 要删的issue或者pull request信息
                owner:
                  type: string
                  description: 组织的路径
                repo:
                  type: string
                  description: 仓库的路径
                issue_iids:
                  type: array
                  description: 仓库内issue的iid
                pr_iids:
                  type: array
                  description: 仓库内pull request的iid
              required:
              - issue_pr_iids
              - owner
              - repo
              - issue_iids
              - pr_iids
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  ? ''
                  : type: object
      x-doc-link: list/delete-api-v-5-org-owner-kanban-kanban-id-remove-item.md
  /api/v5/org/{owner}/kanban/{kanban_id}/remove_item:
    delete:
      summary: 删除看板关联的Issue或者Pull Request
      operationId: delete_delete-api-v-5-org-owner-kanban-kanban-id-remove-item-new
      tags:
      - Dashboard
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
        description: 组织的路径
      - name: kanban_id
        in: path
        required: true
        schema:
          type: string
        description: 看板id
      - name: access_token
        in: query
        required: false
        schema:
          type: string
        description: 用户授权码
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                repo:
                  type: string
                  description: 仓库的路径
                issue_iids:
                  type: array
                  description: 仓库内issue的iid
                pr_iids:
                  type: array
                  description: 仓库内pull request的iid
              required:
              - repo
              - issue_iids
              - pr_iids
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  ? ''
                  : type: object
      x-doc-link: list/delete-api-v-5-org-owner-kanban-kanban-id-remove-item-new.md
  /api/v5/orgs/{org}/memberships/{username}:
    delete:
      summary: 移除授权用户所管理组织中的成员
      operationId: delete_delete-api-v-5-orgs-org-memberships-username
      tags:
      - Organizations
      parameters:
      - name: org
        in: path
        required: true
        schema:
          type: string
        description: 组织的路径(path/login)
      - name: username
        in: path
        required: true
        schema:
          type: string
        description: 用户名(username/login)
      - name: access_token
        in: query
        required: true
        schema:
          type: string
        description: 用户授权码
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  ? ''
                  : type: object
      x-doc-link: list/delete-api-v-5-orgs-org-memberships-username.md
    post:
      summary: 邀请组织成员
      operationId: post_post-api-v-5-orgs-org-memberships-username
      tags:
      - Organizations
      parameters:
      - name: org
        in: path
        required: true
        schema:
          type: string
        description: 仓库所属空间地址(企业、组织或个人的地址path)
      - name: username
        in: path
        required: true
        schema:
          type: string
        description: 用户名(username/login)
      - name: access_token
        in: query
        required: true
        schema:
          type: string
        description: 用户授权码
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                permission:
                  type: string
                  description: '成员权限: 参与者(pull)，开发者(push)，维护者(admin)，customized(自定义角色)。默认:
                    push'
                role_id:
                  type: string
                  description: 角色ID, 如果permission传入了customized则需要传入角色id
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  followers_url:
                    type: string
                  html_url:
                    type: string
                  id:
                    type: string
                  login:
                    type: string
                  name:
                    type: string
                  type:
                    type: string
                  url:
                    type: string
                  permissions:
                    type: object
                  admin:
                    type: integer
                  customized:
                    type: integer
                  push:
                    type: integer
                  pull:
                    type: integer
      x-doc-link: list/post-api-v-5-orgs-org-memberships-username.md
  /api/v5/repos/{owner}/{repo}:
    delete:
      summary: 删除一个仓库
      operationId: delete_delete-api-v-5-repos-owner-repo
      tags:
      - Repositories
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
        description: 仓库所属空间地址(组织或个人的地址path)
      - name: repo
        in: path
        required: true
        schema:
          type: string
        description: 仓库路径(path)
      - name: access_token
        in: query
        required: true
        schema:
          type: string
        description: 用户授权码
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  ? ''
                  : type: object
      x-doc-link: list/delete-api-v-5-repos-owner-repo.md
    get:
      summary: 获取用户的某个仓库
      operationId: get_get-api-v-5-repos-owner-repo
      tags:
      - Users
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
        description: 仓库所属空间地址(组织或个人的地址path)
      - name: repo
        in: path
        required: true
        schema:
          type: string
        description: 仓库路径(path)
      - name: access_token
        in: query
        required: true
        schema:
          type: string
        description: 用户授权码
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  full_name:
                    type: string
                  human_name:
                    type: string
                  url:
                    type: string
                  namespace:
                    type: object
                  name:
                    type: string
                  path:
                    type: string
                  html_url:
                    type: string
                  description:
                    type: string
                  status:
                    type: string
                  ssh_url_to_repo:
                    type: string
                  http_url_to_repo:
                    type: string
                  web_url:
                    type: string
                  readme_url:
                    type: string
                  created_at:
                    type: string
                  updated_at:
                    type: string
                  creator:
                    type: object
                  arts_id:
                    type: string
                  username:
                    type: string
                  nickname:
                    type: string
                  email:
                    type: string
                  photo:
                    type: string
                  members:
                    type: array
                  forks_count:
                    type: integer
                  stargazers_count:
                    type: integer
                  project_labels:
                    type: array
                  ? ''
                  : type: object
                  license:
                    type: string
                  internal:
                    type: integer
                  open_issues_count:
                    type: integer
                  watchers_count:
                    type: integer
                  assignees_number:
                    type: integer
                  enterprise:
                    type: object
                  type:
                    type: string
                  default_branch:
                    type: string
                  fork:
                    type: integer
                  owner:
                    type: object
                  login:
                    type: string
                  assigner:
                    type: object
                  issue_template_source:
                    type: string
                  private:
                    type: integer
                  public:
                    type: integer
      x-doc-link: list/get-api-v-5-repos-owner-repo.md
    patch:
      summary: 更新仓库设置
      operationId: patch_patch-api-v-5-repos-owner-repo
      tags:
      - Repositories
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
        description: 仓库所属空间地址(组织或个人的地址path)
      - name: repo
        in: path
        required: true
        schema:
          type: string
        description: 仓库路径(path)
      - name: access_token
        in: query
        required: true
        schema:
          type: string
        description: 用户授权码
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 仓库名称
                description:
                  type: string
                  description: 仓库描述
                homepage:
                  type: string
                  description: 项目地址(eg:https://gitcode.com)
                path:
                  type: string
                  description: 更新仓库路径
                private:
                  type: boolean
                  description: 仓库公开或私有。（true/false）
                default_branch:
                  type: string
                  description: 默认分支
                lfs_enabled:
                  type: boolean
                  description: 是否启动 lfs
                tags:
                  type: array
                  description: 项目标签
              required:
              - name
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  full_name:
                    type: string
                  human_name:
                    type: string
                  url:
                    type: string
                  path:
                    type: string
                  name:
                    type: string
                  description:
                    type: string
                  private:
                    type: integer
                  public:
                    type: integer
                  namespace:
                    type: object
                  develop_mode:
                    type: string
                  region:
                    type: string
                  cell:
                    type: string
                  kind:
                    type: string
                  full_path:
                    type: string
                  parent_id:
                    type: string
                  visibility_level:
                    type: integer
                  enable_file_control:
                    type: integer
                  owner_id:
                    type: string
                  empty_repo:
                    type: string
                  starred:
                    type: string
                  visibility:
                    type: string
                  owner:
                    type: string
                  creator:
                    type: string
                  forked_from_project:
                    type: string
                  item_type:
                    type: string
                  main_repository_language:
                    type: string
                  homepage:
                    type: string
      x-doc-link: list/patch-api-v-5-repos-owner-repo.md
  /api/v5/repos/{owner}/{repo}/branches/{name}:
    delete:
      summary: 删除分支
      operationId: delete_delete-api-v-5-repos-owner-repo-branches-name
      tags:
      - Branch
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
        description: 仓库所属空间地址（企业、组织或个人的地址path）
      - name: repo
        in: path
        required: true
        schema:
          type: string
        description: 仓库路径(path)
      - name: name
        in: path
        required: true
        schema:
          type: string
        description: 分支名称
      - name: access_token
        in: query
        required: true
        schema:
          type: string
        description: 用户授权码
      responses:
        '200':
          description: ''
      x-doc-link: list/delete-api-v-5-repos-owner-repo-branches-name.md
  /api/v5/repos/{owner}/{repo}/branches/{wildcard}/setting:
    delete:
      summary: 删除保护分支规则
      operationId: delete_delete-api-v-5-repos-owner-repo-branches-wildcard-setting
      tags:
      - Branch
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
        description: 仓库所属空间地址(组织或个人的地址path)
      - name: repo
        in: path
        required: true
        schema:
          type: string
        description: 仓库路径(path)
      - name: wildcard
        in: path
        required: true
        schema:
          type: string
        description: 分支名
      - name: access_token
        in: query
        required: true
        schema:
          type: string
        description: 用户授权码
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  ? ''
                  : type: object
      x-doc-link: list/delete-api-v-5-repos-owner-repo-branches-wildcard-setting.md
    put:
      summary: 更新保护分支规则
      operationId: put_put-api-v-5-repos-owner-repo-branches-wildcard-setting
      tags:
      - Branch
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
        description: 仓库所属空间地址(组织或个人的地址path)
      - name: repo
        in: path
        required: true
        schema:
          type: string
        description: 仓库路径(path)
      - name: wildcard
        in: path
        required: true
        schema:
          type: string
        description: 保护分支名
      - name: access_token
        in: query
        required: true
        schema:
          type: string
        description: 用户授权码
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                pusher:
                  type: string
                  description: 可推送代码成员。develop：仓库管理员和开发者；admin：仓库管理员；maintainer：维护者；多个角色使用英文分号相隔。指定用户传入用户名，多个用户使用英文分号隔开。空字符串：不允许任何人推送
                merger:
                  type: string
                  description: 可合并 Pull Request成员。develop：仓库管理员和开发者；admin：仓库管理员；maintainer：维护者；多个角色使用英文分号相隔。指定用户传入用户名，多个用户使用英文分号隔开。空字符串：不允许任何人合并
              required:
              - pusher
              - merger
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  ? ''
                  : type: object
      x-doc-link: list/put-api-v-5-repos-owner-repo-branches-wildcard-setting.md
  /api/v5/repos/{owner}/{repo}/collaborators/{username}:
    delete:
      summary: 移除项目成员
      operationId: delete_delete-api-v-5-repos-owner-repo-collaborators-username
      tags:
      - Member
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
        description: 仓库所属空间地址(组织或个人的地址path)
      - name: repo
        in: path
        required: true
        schema:
          type: string
        description: 仓库路径(path)
      - name: username
        in: path
        required: true
        schema:
          type: string
        description: 用户名(username/login)
      - name: access_token
        in: query
        required: true
        schema:
          type: string
        description: 用户授权码
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  ? ''
                  : type: object
      x-doc-link: list/delete-api-v-5-repos-owner-repo-collaborators-username.md
    get:
      summary: 判断用户是否为仓库成员
      operationId: get_get-api-v-5-repos-owner-repo-collaborators-username
      tags:
      - Member
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
        description: 仓库所属空间地址（企业、组织或个人的地址path）
      - name: repo
        in: path
        required: true
        schema:
          type: string
        description: 仓库路径(path)
      - name: username
        in: path
        required: true
        schema:
          type: string
        description: 用户名(username/login)
      - name: access_token
        in: query
        required: true
        schema:
          type: string
        description: 用户授权码
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
      x-doc-link: list/get-api-v-5-repos-owner-repo-collaborators-username.md
    put:
      summary: 添加项目成员或更新项目成员权限
      operationId: put_put-api-v-5-repos-owner-repo-collaborators-username
      tags:
      - Member
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
        description: 仓库所属空间地址(组织或个人的地址path)
      - name: repo
        in: path
        required: true
        schema:
          type: string
        description: 仓库路径(path)
      - name: username
        in: path
        required: true
        schema:
          type: string
        description: 用户名(username/login)
      - name: access_token
        in: query
        required: true
        schema:
          type: string
        description: 用户授权码
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                permission:
                  type: string
                  description: '成员权限: 参与者(pull)，开发者(push)，仓库维护者(admin)， 自定义角色传入角色名。默认:
                    push'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  login:
                    type: string
                  name:
                    type: string
                  avatar_url:
                    type: string
                  html_url:
                    type: string
                  remark:
                    type: string
                  type:
                    type: string
                  permissions:
                    type: object
                  pull:
                    type: integer
                  push:
                    type: integer
                  admin:
                    type: integer
      x-doc-link: list/put-api-v-5-repos-owner-repo-collaborators-username.md
  /api/v5/repos/{owner}/{repo}/comments/{id}:
    delete:
      summary: 删除commit评论
      operationId: delete_delete-api-v-5-repos-owner-repo-comments-id
      tags:
      - Commit
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
        description: 仓库所属空间地址(组织或个人的地址path)
      - name: repo
        in: path
        required: true
        schema:
          type: string
        description: 仓库路径(path)
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: 评论id
      - name: access_token
        in: query
        required: true
        schema:
          type: string
        description: 用户授权码
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  ? ''
                  : type: object
      x-doc-link: list/delete-api-v-5-repos-owner-repo-comments-id.md
    get:
      summary: 获取仓库的某条Commit评论
      operationId: get_get-api-v-5-repos-owner-repo-comments-id
      tags:
      - Commit
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
        description: 仓库所属空间地址(组织或个人的地址path)
      - name: repo
        in: path
        required: true
        schema:
          type: string
        description: 仓库路径(path)
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: 评论id
      - name: access_token
        in: query
        required: false
        schema:
          type: string
        description: 用户授权码
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  body:
                    type: string
                  created_at:
                    type: string
                  id:
                    type: integer
                  target:
                    type: object
                  ? ''
                  : type: object
                  updated_at:
                    type: string
                  user:
                    type: object
                  login:
                    type: string
                  name:
                    type: string
                  type:
                    type: string
      x-doc-link: list/get-api-v-5-repos-owner-repo-comments-id.md
    patch:
      summary: 更新Commit评论
      operationId: patch_patch-api-v-5-repos-owner-repo-comments-id
      tags:
      - Commit
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
        description: 仓库所属空间地址(组织或个人的地址path)
      - name: repo
        in: path
        required: true
        schema:
          type: string
        description: 仓库路径(path)
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: 评论id
      - name: access_token
        in: query
        required: true
        schema:
          type: string
        description: 用户授权码
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                body:
                  type: string
                  description: 评论内容
              required:
              - body
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  body:
                    type: string
                  created_at:
                    type: string
                  id:
                    type: integer
                  target:
                    type: object
                  ? ''
                  : type: object
                  updated_at:
                    type: string
                  user:
                    type: object
                  login:
                    type: string
                  name:
                    type: string
                  type:
                    type: string
      x-doc-link: list/patch-api-v-5-repos-owner-repo-comments-id.md
  /api/v5/repos/{owner}/{repo}/contents/{path}:
    delete:
      summary: 删除文件
      operationId: delete_delete-api-v-5-repos-owner-repo-contents-path
      tags:
      - Repositories
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
        description: 仓库所属空间地址(组织或个人的地址path)
      - name: repo
        in: path
        required: true
        schema:
          type: string
        description: 仓库路径(path)
      - name: path
        in: path
        required: true
        schema:
          type: string
        description: 文件的路径
      - name: access_token
        in: query
        required: true
        schema:
          type: string
        description: 用户授权码
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                sha:
                  type: string
                  description: 文件的 Blob SHA
                branch:
                  type: string
                  description: 分支名称。默认为仓库对默认分支
                message:
                  type: string
                  description: 提交信息
              required:
              - sha
              - message
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  commit:
                    type: object
                  sha:
                    type: string
                  author:
                    type: object
                  name:
                    type: string
                  email:
                    type: string
                  date:
                    type: string
                  committer:
                    type: object
                  message:
                    type: string
                  tree:
                    type: string
                  parents:
                    type: array
      x-doc-link: list/delete-api-v-5-repos-owner-repo-contents-path.md
    get:
      summary: 获取仓库具体路径下的内容
      operationId: get_get-api-v-5-repos-owner-repo-contents-path
      tags:
      - Repositories
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
        description: 仓库所属空间地址(组织或个人的地址path)
      - name: repo
        in: path
        required: true
        schema:
          type: string
        description: 仓库路径(path)
      - name: path
        in: path
        required: true
        schema:
          type: string
        description: 文件的路径
      - name: access_token
        in: query
        required: false
        schema:
          type: string
        description: 用户授权码
      - name: ref
        in: query
        required: false
        schema:
          type: string
        description: '分支、tag或commit。默认: 仓库的默认分支(main)'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  encoding:
                    type: string
                  size:
                    type: integer
                  name:
                    type: string
                  path:
                    type: string
                  content:
                    type: string
                  sha:
                    type: string
                  url:
                    type: string
                  html_url:
                    type: string
                  download_url:
                    type: string
                  _links:
                    type: object
                  self:
                    type: string
                  html:
                    type: string
      x-doc-link: list/get-api-v-5-repos-owner-repo-contents-path.md
    post:
      summary: 新建文件
      operationId: post_post-api-v-5-repos-owner-repo-contents-path
      tags:
      - Repositories
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
        description: 仓库所属空间地址(组织或个人的地址path)
      - name: repo
        in: path
        required: true
        schema:
          type: string
        description: 仓库路径(path)
      - name: path
        in: path
        required: true
        schema:
          type: string
        description: 文件路径
      - name: access_token
        in: query
        required: true
        schema:
          type: string
        description: 用户授权码
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                content:
                  type: string
                  description: 文件内容, 要用 base64 编码
                message:
                  type: string
                  description: 提交的 commit 信息
                branch:
                  type: string
                  description: 提交的分支
                author[name]:
                  type: string
                  description: Author的名字，默认为当前用户的名字
                author[email]:
                  type: string
                  description: Author的邮箱，默认为当前用户的邮箱
              required:
              - content
              - message
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  commit:
                    type: object
                  sha:
                    type: string
                  author:
                    type: object
                  name:
                    type: string
                  email:
                    type: string
                  date:
                    type: string
                  committer:
                    type: object
                  message:
                    type: string
                  parents:
                    type: array
      x-doc-link: list/post-api-v-5-repos-owner-repo-contents-path.md
    put:
      summary: 更新文件
      operationId: put_put-api-v-5-repos-owner-repo-contents-path
      tags:
      - Repositories
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
        description: 仓库所属空间地址(组织或个人的地址path)
      - name: repo
        in: path
        required: true
        schema:
          type: string
        description: 仓库路径(path)
      - name: path
        in: path
        required: true
        schema:
          type: string
        description: 文件的路径
      - name: access_token
        in: query
        required: true
        schema:
          type: string
        description: 用户授权码
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                content:
                  type: string
                  description: 文件内容, 要用 base64 编码
                sha:
                  type: string
                  description: 文件的 Blob SHA
                branch:
                  type: string
                  description: 分支名称。默认为仓库对默认分支
                message:
                  type: string
                  description: 提交信息
                author[name]:
                  type: string
                  description: Author的名字，默认为当前用户的名字
                author[email]:
                  type: string
                  description: Author的邮箱，默认为当前用户的邮箱
              required:
              - content
              - sha
              - message
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  commit:
                    type: object
                  sha:
                    type: string
                  author:
                    type: object
                  name:
                    type: string
                  email:
                    type: string
                  date:
                    type: string
                  committer:
                    type: object
                  message:
                    type: string
                  tree:
                    type: string
                  parents:
                    type: array
                  content:
                    type: object
                  path:
                    type: string
                  size:
                    type: integer
                  type:
                    type: string
      x-doc-link: list/put-api-v-5-repos-owner-repo-contents-path.md
  /api/v5/repos/{owner}/{repo}/hooks/{id}:
    delete:
      summary: 删除一个仓库WebHook
      operationId: delete_delete-api-v-5-repos-owner-repo-hooks-id
      tags:
      - Webhooks
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
        description: 仓库所属空间地址（企业、组织或个人的地址path）
      - name: repo
        in: path
        required: true
        schema:
          type: string
        description: 仓库路径(path)
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Webhook的ID
      - name: access_token
        in: query
        required: true
        schema:
          type: string
        description: 用户授权码
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  ? ''
                  : type: object
      x-doc-link: list/delete-api-v-5-repos-owner-repo-hooks-id.md
    get:
      summary: 获取仓库单个WebHook
      operationId: get_get-api-v-5-repos-owner-repo-hooks-id
      tags:
      - Webhooks
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
        description: 仓库所属空间地址（企业、组织或个人的地址path）
      - name: repo
        in: path
        required: true
        schema:
          type: string
        description: 仓库路径(path)
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Webhook的ID
      - name: access_token
        in: query
        required: true
        schema:
          type: string
        description: 用户授权码
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  url:
                    type: string
                  password:
                    type: string
                  result:
                    type: string
                  project_id:
                    type: integer
                  result_code:
                    type: integer
                  push_events:
                    type: integer
                  tag_push_events:
                    type: integer
                  issues_events:
                    type: integer
                  note_events:
                    type: integer
                  merge_requests_events:
                    type: integer
                  created_at:
                    type: string
                  active:
                    type: boolean
                    description: 是否激活
      x-doc-link: list/get-api-v-5-repos-owner-repo-hooks-id.md
    patch:
      summary: 更新一个仓库WebHook
      operationId: patch_patch-api-v-5-repos-owner-repo-hooks-id
      tags:
      - Webhooks
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
        description: 仓库所属空间地址（企业、组织或个人的地址path）
      - name: repo
        in: path
        required: true
        schema:
          type: string
        description: 仓库路径(path)
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Webhook的ID
      - name: access_token
        in: query
        required: true
        schema:
          type: string
        description: 用户授权码
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                  description: 远程HTTP URL
                encryption_type:
                  type: integer
                  description: '加密类型: 0: 密码, 1: 签名密钥'
                password:
                  type: string
                  description: 请求URL时会带上该密码，防止URL被恶意请求
                push_events:
                  type: boolean
                  description: Push代码到仓库
                tag_push_events:
                  type: boolean
                  description: 提交Tag到仓库
                issues_events:
                  type: boolean
                  description: 创建/关闭Issue
                note_events:
                  type: boolean
                  description: 评论了Issue/代码等等
                merge_requests_events:
                  type: boolean
                  description: 合并请求和合并后
              required:
              - url
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
                  password:
                    type: string
                  result:
                    type: string
                  project_id:
                    type: integer
                  result_code:
                    type: integer
                  push_events:
                    type: integer
                  tag_push_events:
                    type: integer
                  issues_events:
                    type: integer
                  note_events:
                    type: integer
                  merge_requests_events:
                    type: integer
                  created_at:
                    type: string
      x-doc-link: list/patch-api-v-5-repos-owner-repo-hooks-id.md
  /api/v5/repos/{owner}/{repo}/issues/comments/{id}:
    delete:
      summary: 删除Issue某条评论
      operationId: delete_delete-api-v-5-repos-owner-repo-issues-comments-id
      tags:
      - Issues
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
        description: 仓库所属空间地址(组织或个人的地址path)
      - name: repo
        in: path
        required: true
        schema:
          type: string
        description: 仓库路径(path)
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: 评论 ID
      - name: access_token
        in: query
        required: true
        schema:
          type: string
        description: 用户授权码
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  ? ''
                  : type: object
      x-doc-link: list/delete-api-v-5-repos-owner-repo-issues-comments-id.md
    get:
      summary: 获取仓库Issue某条评论
      operationId: get_get-api-v-5-repos-owner-repo-issues-comments-id
      tags:
      - Issues
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
        description: 仓库所属空间地址(组织或个人的地址path)
      - name: repo
        in: path
        required: true
        schema:
          type: string
        description: 仓库路径(path)
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: 评论 ID
      - name: access_token
        in: query
        required: false
        schema:
          type: string
        description: 用户授权码
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  body:
                    type: string
                  comment_type:
                    type: string
                  user:
                    type: object
                  login:
                    type: string
                  name:
                    type: string
                  type:
                    type: string
                  target:
                    type: object
                  issue:
                    type: object
                  title:
                    type: string
                  number:
                    type: string
                  created_at:
                    type: string
                  updated_at:
                    type: string
      x-doc-link: list/get-api-v-5-repos-owner-repo-issues-comments-id.md
    patch:
      summary: 更新Issue某条评论
      operationId: patch_patch-api-v-5-repos-owner-repo-issues-comments-id
      tags:
      - Issues
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
        description: 仓库所属空间地址(组织或个人的地址path)
      - name: repo
        in: path
        required: true
        schema:
          type: string
        description: 仓库路径(path)
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: 评论 ID
      - name: access_token
        in: query
        required: true
        schema:
          type: string
        description: 用户授权码
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                body:
                  type: string
                  description: 评论内容
              required:
              - body
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  ? ''
                  : type: object
      x-doc-link: list/patch-api-v-5-repos-owner-repo-issues-comments-id.md
  /api/v5/repos/{owner}/{repo}/issues/{number}/labels:
    delete:
      summary: 删除Issue所有标签
      operationId: delete_delete-api-v-5-repos-owner-repo-issues-number-labels
      tags:
      - Labels
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
        description: 仓库所属空间地址（企业、组织或个人的地址path）
      - name: repo
        in: path
        required: true
        schema:
          type: string
        description: 仓库路径(path)
      - name: number
        in: path
        required: true
        schema:
          type: string
        description: 'Issue 编号(区分大小写，无需添加 # 号)'
      - name: access_token
        in: query
        required: true
        schema:
          type: string
        description: 用户授权码
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  ? ''
                  : type: object
      x-doc-link: list/delete-api-v-5-repos-owner-repo-issues-number-labels.md
    post:
      summary: 创建Issue标签
      operationId: post_post-api-v-5-repos-owner-repo-issues-number-labels
      tags:
      - Issues
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
        description: 仓库所属空间地址(组织或个人的地址path)
      - name: repo
        in: path
        required: true
        schema:
          type: string
        description: 仓库路径(path)
      - name: number
        in: path
        required: true
        schema:
          type: string
        description: issue编号
      - name: access_token
        in: query
        required: true
        schema:
          type: string
        description: 用户授权码
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                ? ''
                : type: string
                  description: 标签名称
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  color:
                    type: string
                  name:
                    type: string
                  id:
                    type: integer
                  title:
                    type: string
                  type:
                    type: string
                  textColor:
                    type: string
      x-doc-link: list/post-api-v-5-repos-owner-repo-issues-number-labels.md
    put:
      summary: 替换Issue所有标签
      operationId: put_put-api-v-5-repos-owner-repo-issues-number-labels
      tags:
      - Labels
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
        description: 仓库所属空间地址（企业、组织或个人的地址path）
      - name: repo
        in: path
        required: true
        schema:
          type: string
        description: 仓库路径(path)
      - name: number
        in: path
        required: true
        schema:
          type: string
        description: 'Issue 编号(区分大小写，无需添加 # 号)'
      - name: access_token
        in: query
        required: true
        schema:
          type: string
        description: 用户授权码
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                ? ''
                : type: string
                  description: 标签名称
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  ? ''
                  : type: object
      x-doc-link: list/put-api-v-5-repos-owner-repo-issues-number-labels.md
  /api/v5/repos/{owner}/{repo}/issues/{number}/labels/{name}:
    delete:
      summary: 删除Issue标签
      operationId: delete_delete-api-v-5-repos-owner-repo-issues-number-labels-name
      tags:
      - Issues
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
        description: 仓库所属空间地址(组织或个人的地址path)
      - name: repo
        in: path
        required: true
        schema:
          type: string
        description: 仓库路径(path)
      - name: number
        in: path
        required: true
        schema:
          type: string
        description: 第几个Issue，即本仓库Issue的序数
      - name: name
        in: path
        required: true
        schema:
          type: string
        description: '标签名称(批量删除用英文逗号分隔，如: bug,feature)'
      - name: access_token
        in: query
        required: true
        schema:
          type: string
        description: 用户授权码
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  ? ''
                  : type: object
      x-doc-link: list/delete-api-v-5-repos-owner-repo-issues-number-labels-name.md
  /api/v5/repos/{owner}/{repo}/labels/{name}:
    delete:
      summary: 删除一个仓库任务标签
      operationId: delete_delete-api-v-5-repos-owner-repo-labels-name
      tags:
      - Labels
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
        description: 仓库所属空间地址（企业、组织或个人的地址path）
      - name: repo
        in: path
        required: true
        schema:
          type: string
        description: 仓库路径(path)
      - name: name
        in: path
        required: true
        schema:
          type: string
        description: 标签名称
      - name: access_token
        in: query
        required: true
        schema:
          type: string
        description: 用户授权码
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  ? ''
                  : type: object
      x-doc-link: list/delete-api-v-5-repos-owner-repo-labels-name.md
  /api/v5/repos/{owner}/{repo}/milestones/{number}:
    delete:
      summary: 删除仓库单个里程碑
      operationId: delete_delete-api-v-5-repos-owner-repo-milestones-number
      tags:
      - Milestone
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
        description: 仓库所属空间地址（企业、组织或个人的地址path）
      - name: repo
        in: path
        required: true
        schema:
          type: string
        description: 仓库路径(path)
      - name: number
        in: path
        required: true
        schema:
          type: integer
        description: 里程碑序列号（number）
      - name: access_token
        in: query
        required: true
        schema:
          type: string
        description: 用户授权码
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  ? ''
                  : type: object
      x-doc-link: list/delete-api-v-5-repos-owner-repo-milestones-number.md
    get:
      summary: 获取仓库单个里程碑
      operationId: get_get-api-v-5-repos-owner-repo-milestones-number
      tags:
      - Milestone
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
        description: 仓库所属空间地址（企业、组织或个人的地址path）
      - name: repo
        in: path
        required: true
        schema:
          type: string
        description: 仓库路径(path)
      - name: number
        in: path
        required: true
        schema:
          type: integer
        description: 里程碑序列号（number）
      - name: access_token
        in: query
        required: false
        schema:
          type: string
        description: 用户授权码
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  closed_issues:
                    type: integer
                  created_at:
                    type: string
                  description:
                    type: string
                  due_on:
                    type: string
                  number:
                    type: integer
                  open_issues:
                    type: integer
                  repository_id:
                    type: integer
                  state:
                    type: string
                  title:
                    type: string
                  updated_at:
                    type: string
                  url:
                    type: string
      x-doc-link: list/get-api-v-5-repos-owner-repo-milestones-number.md
    patch:
      summary: 更新仓库里程碑
      operationId: patch_patch-api-v-5-repos-owner-repo-milestones-number
      tags:
      - Milestone
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
        description: 仓库所属空间地址（企业、组织或个人的地址path）
      - name: repo
        in: path
        required: true
        schema:
          type: string
        description: 仓库路径(path)
      - name: number
        in: path
        required: true
        schema:
          type: integer
        description: 里程碑序列号（number）
      - name: access_token
        in: query
        required: true
        schema:
          type: string
        description: 用户授权码
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: 里程碑标题
                state:
                  type: string
                  description: '里程碑状态: open, closed, all。默认: open'
                description:
                  type: string
                  description: 里程碑具体描述
                due_on:
                  type: string
                  description: 里程碑的截止日期
              required:
              - title
              - due_on
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  closed_issues:
                    type: integer
                  created_at:
                    type: string
                  description:
                    type: string
                  due_on:
                    type: string
                  number:
                    type: integer
                  open_issues:
                    type: integer
                  repository_id:
                    type: integer
                  state:
                    type: string
                  title:
                    type: string
                  updated_at:
                    type: string
                  url:
                    type: string
      x-doc-link: list/patch-api-v-5-repos-owner-repo-milestones-number.md
  /api/v5/repos/{owner}/{repo}/protected_tags/{tag_name}:
    delete:
      summary: 删除项目保护 tag
      operationId: delete_delete-api-v-5-repos-owner-repo-protected-tags-tag-name
      tags:
      - Tag
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
        description: 仓库所属空间地址(组织或个人的地址path)
      - name: repo
        in: path
        required: true
        schema:
          type: string
        description: 仓库路径(path)
      - name: tag_name
        in: path
        required: true
        schema:
          type: string
        description: 标签名称
      - name: access_token
        in: query
        required: true
        schema:
          type: string
        description: 用户授权码
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  ? ''
                  : type: object
      x-doc-link: list/delete-api-v-5-repos-owner-repo-protected-tags-tag-name.md
    get:
      summary: 获取项目保护 tag 详情
      operationId: get_get-api-v-5-repos-owner-repo-protected-tags-tag-name
      tags:
      - Tag
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
        description: 仓库所属空间地址(组织或个人的地址path)
      - name: repo
        in: path
        required: true
        schema:
          type: string
        description: 仓库路径(path)
      - name: tag_name
        in: path
        required: true
        schema:
          type: string
        description: 标签名称
      - name: access_token
        in: query
        required: true
        schema:
          type: string
        description: 用户授权码
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                  create_access_level:
                    type: integer
                  create_access_level_desc:
                    type: string
      x-doc-link: list/get-api-v-5-repos-owner-repo-protected-tags-tag-name.md
  /api/v5/repos/{owner}/{repo}/pulls/comments/{id}:
    delete:
      summary: 删除评论
      operationId: delete_delete-api-v-5-repos-owner-repo-pulls-comments-id
      tags:
      - Pull Requests
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
        description: 仓库所属空间地址(组织或个人的地址path)
      - name: repo
        in: path
        required: true
        schema:
          type: string
        description: 仓库路径(path)
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: 评论的ID
      - name: access_token
        in: query
        required: true
        schema:
          type: string
        description: 用户授权码
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  ? ''
                  : type: object
      x-doc-link: list/delete-api-v-5-repos-owner-repo-pulls-comments-id.md
    get:
      summary: 获取Pull Request某条评论
      operationId: get_get-api-v-5-repos-owner-repo-pulls-comments-id
      tags:
      - Pull Requests
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
        description: 仓库所属空间地址(组织或个人的地址path)
      - name: repo
        in: path
        required: true
        schema:
          type: string
        description: 仓库路径(path)
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: 评论 ID
      - name: access_token
        in: query
        required: false
        schema:
          type: string
        description: 用户授权码
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  discussion_id:
                    type: string
                    description: 讨论id
                  body:
                    type: string
                  comment_type:
                    type: string
                  user:
                    type: object
                  login:
                    type: string
                  name:
                    type: string
                  type:
                    type: string
                  target:
                    type: object
                  issue:
                    type: object
                  title:
                    type: string
                  number:
                    type: string
                  created_at:
                    type: string
                  updated_at:
                    type: string
                  position:
                    type: object
                    description: 基础SHA
                  base_sha:
                    type: string
                    description: 基础SHA
                  start_sha:
                    type: string
                    description: 起始SHA
                  head_sha:
                    type: string
                    description: 头部SHA
                  old_path:
                    type: string
                    description: 旧路径
                  new_path:
                    type: string
                    description: 新路径
                  position_type:
                    type: string
                    description: 位置类型，"binary":文件级评论，"text":代码行评论。
                  old_line:
                    type: integer
                    description: 旧行号
                  new_line:
                    type: integer
                    description: 新行号
                  start_old_line:
                    type: integer
                    description: 起始旧行号
                  start_new_line:
                    type: integer
                    description: 起始新行号
      x-doc-link: list/get-api-v-5-repos-owner-repo-pulls-comments-id.md
    patch:
      summary: 编辑评论
      operationId: patch_patch-api-v-5-repos-owner-repo-pulls-comments-id
      tags:
      - Pull Requests
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
        description: 仓库所属空间地址(组织或个人的地址path)
      - name: repo
        in: path
        required: true
        schema:
          type: string
        description: 仓库路径(path)
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: 评论的ID
      - name: access_token
        in: query
        required: true
        schema:
          type: string
        description: 用户授权码
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                body:
                  type: string
                  description: 必填。评论内容
              required:
              - body
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  ? ''
                  : type: object
      x-doc-link: list/patch-api-v-5-repos-owner-repo-pulls-comments-id.md
  /api/v5/repos/{owner}/{repo}/pulls/{number}/reviewers:
    delete:
      summary: 取消用户评审Pull Request
      operationId: delete_delete-api-v-5-repos-owner-repo-pulls-number-approval-reviewers
      tags:
      - Pull Requests
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
        description: 仓库所属空间地址(企业、组织或个人的地址path)
      - name: repo
        in: path
        required: true
        schema:
          type: string
        description: 仓库路径(path)
      - name: number
        in: path
        required: true
        schema:
          type: string
        description: 第几个PR，即本仓库PR的序数。对应iid
      - name: access_token
        in: query
        required: true
        schema:
          type: string
        description: 用户授权码
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                reviewers:
                  type: string
                  description: 用户的个人空间地址, 以逗号分隔
              required:
              - reviewers
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  login:
                    type: string
                  name:
                    type: string
                  avatar_url:
                    type: string
                  object_id:
                    type: string
      x-doc-link: list/delete-api-v-5-repos-owner-repo-pulls-number-approval-reviewers.md
    post:
      summary: 指派用户评审Pull Request
      operationId: post_post-api-v-5-repos-owner-repo-pulls-number-approval-reviewers
      tags:
      - Pull Requests
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
        description: 仓库所属空间地址(企业、组织或个人的地址path)
      - name: repo
        in: path
        required: true
        schema:
          type: string
        description: 仓库路径(path)
      - name: number
        in: path
        required: true
        schema:
          type: string
        description: 第几个PR，即本仓库PR的序数。对应iid
      - name: access_token
        in: query
        required: true
        schema:
          type: string
        description: 用户授权码
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                reviewers:
                  type: string
                  description: 用户的个人空间地址, 以逗号分隔
                add:
                  type: boolean
                  description: 是否新增评审人，为true会新增评审人，false会覆盖更新评审人，默认false
              required:
              - reviewers
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  login:
                    type: string
                  name:
                    type: string
                  avatar_url:
                    type: string
                  object_id:
                    type: string
      x-doc-link: list/post-api-v-5-repos-owner-repo-pulls-number-approval-reviewers.md
  /api/v5/repos/{owner}/{repo}/pulls/{number}/assignees:
    delete:
      summary: 取消用户审查 Pull Request
      operationId: delete_delete-api-v-5-repos-owner-repo-pulls-number-assignees
      tags:
      - Pull Requests
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
        description: 仓库所属空间地址(组织或个人的地址path)
      - name: repo
        in: path
        required: true
        schema:
          type: string
        description: 仓库路径(path)
      - name: number
        in: path
        required: true
        schema:
          type: integer
        description: 第几个PR，即本仓库PR的序数
      - name: access_token
        in: query
        required: true
        schema:
          type: string
        description: 用户授权码
      - name: assignees
        in: query
        required: false
        schema:
          type: string
        description: 用户的个人空间地址, 以 , 分隔
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  ? ''
                  : type: object
      x-doc-link: list/delete-api-v-5-repos-owner-repo-pulls-number-assignees.md
    patch:
      summary: 重置 Pull Request审查 的状态
      operationId: patch_patch-api-v-5-repos-owner-repo-pulls-number-assignees
      tags:
      - Pull Requests
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
        description: 仓库所属空间地址(组织或个人的地址path)
      - name: repo
        in: path
        required: true
        schema:
          type: string
        description: 仓库路径(path)
      - name: number
        in: path
        required: true
        schema:
          type: integer
        description: 第几个PR，即本仓库PR的序数
      - name: access_token
        in: query
        required: true
        schema:
          type: string
        description: 用户授权码
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                reset_all:
                  type: boolean
                  description: 是否重置所有审查人，默认：false，只对管理员生效
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  ? ''
                  : type: object
      x-doc-link: list/patch-api-v-5-repos-owner-repo-pulls-number-assignees.md
    post:
      summary: 指派用户审查 Pull Request
      operationId: post_post-api-v-5-repos-owner-repo-pulls-number-assignees
      tags:
      - Pull Requests
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
        description: 仓库所属空间地址(组织或个人的地址path)
      - name: repo
        in: path
        required: true
        schema:
          type: string
        description: 仓库路径(path)
      - name: number
        in: path
        required: true
        schema:
          type: integer
        description: 第几个PR，即本仓库PR的序数
      - name: access_token
        in: query
        required: true
        schema:
          type: string
        description: 用户授权码
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                assignees:
                  type: string
                  description: 用户的个人空间地址, 以 , 分隔
              required:
              - assignees
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  assignees_number:
                    type: integer
      x-doc-link: list/post-api-v-5-repos-owner-repo-pulls-number-assignees.md
  /api/v5/repos/{owner}/{repo}/pulls/{number}/issues:
    delete:
      summary: Pull Request删除关联的issue
      operationId: delete_delete-api-v-5-repos-owner-repo-pulls-number-issues
      tags:
      - Pull Requests
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
        description: 仓库所属空间地址(组织或个人的地址path)
      - name: repo
        in: path
        required: true
        schema:
          type: string
        description: 仓库路径(path)
      - name: number
        in: path
        required: true
        schema:
          type: string
        description: 第几个PR，即本仓库PR的序数
      - name: access_token
        in: query
        required: true
        schema:
          type: string
        description: 用户授权码
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                ? ''
                : type: integer
                  description: 第几个Issue，即本仓库Issue的序数
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  number:
                    type: string
                  title:
                    type: string
      x-doc-link: list/delete-api-v-5-repos-owner-repo-pulls-number-issues.md
    get:
      summary: 获取pr关联的issue
      operationId: get_get-api-v-5-repos-owner-repo-pulls-number-issues
      tags:
      - Pull Requests
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
        description: 仓库所属空间地址(组织或个人的地址path)
      - name: repo
        in: path
        required: true
        schema:
          type: string
        description: 仓库路径(path)
      - name: number
        in: path
        required: true
        schema:
          type: integer
        description: 第几个PR，即本仓库PR的序数
      - name: access_token
        in: query
        required: false
        schema:
          type: string
        description: 用户授权码
      - name: page
        in: query
        required: false
        schema:
          type: integer
        description: 当前的页码:默认为 1
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
        description: 每页的数量，最大为 100，默认 20
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  number:
                    type: string
                  title:
                    type: string
                  state:
                    type: string
                  url:
                    type: string
                  body:
                    type: string
                  user:
                    type: object
                  id:
                    type: integer
                  login:
                    type: string
                  name:
                    type: string
                  labels:
                    type: array
                    description: label添加时间
                  color:
                    type: string
                  created_at:
                    type: string
                  updated_at:
                    type: string
                    description: label添加时间
                  issue_created_at:
                    type: string
                    description: issue创建时间
                  issue_updated_at:
                    type: string
                    description: issue更新时间
                  issue_closed_at:
                    type: string
                    description: issue关闭时间
      x-doc-link: list/get-api-v-5-repos-owner-repo-pulls-number-issues.md
    post:
      summary: Pull Request关联issue
      operationId: post_post-api-v-5-repos-owner-repo-pulls-number-linked-issues
      tags:
      - Pull Requests
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
        description: 仓库所属空间地址(组织或个人的地址path)
      - name: repo
        in: path
        required: true
        schema:
          type: string
        description: 仓库路径(path)
      - name: number
        in: path
        required: true
        schema:
          type: string
        description: 第几个PR，即本仓库PR的序数
      - name: access_token
        in: query
        required: true
        schema:
          type: string
        description: 用户授权码
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                ? ''
                : type: integer
                  description: 第几个Issue，即本仓库Issue的序数
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  number:
                    type: string
                  title:
                    type: string
      x-doc-link: list/post-api-v-5-repos-owner-repo-pulls-number-linked-issues.md
  /api/v5/repos/{owner}/{repo}/pulls/{number}/labels/{name}:
    delete:
      summary: 删除 Pull Request标签
      operationId: delete_delete-api-v-5-repos-owner-repo-pulls-number-labels-name
      tags:
      - Pull Requests
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
        description: 仓库所属空间地址(组织或个人的地址path)
      - name: repo
        in: path
        required: true
        schema:
          type: string
        description: 仓库路径(path)
      - name: number
        in: path
        required: true
        schema:
          type: integer
        description: 第几个PR，即本仓库PR的序数
      - name: name
        in: path
        required: true
        schema:
          type: string
        description: '标签名称(批量删除用英文逗号分隔，如: bug,feature)'
      - name: access_token
        in: query
        required: true
        schema:
          type: string
        description: 用户授权码
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  ? ''
                  : type: object
      x-doc-link: list/delete-api-v-5-repos-owner-repo-pulls-number-labels-name.md
  /api/v5/repos/{owner}/{repo}/pulls/{number}/testers:
    delete:
      summary: 取消用户测试Pull Request
      operationId: delete_delete-api-v-5-repos-owner-repo-pulls-number-testers
      tags:
      - Pull Requests
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
        description: 仓库所属空间地址(企业、组织或个人的地址path)
      - name: repo
        in: path
        required: true
        schema:
          type: string
        description: 仓库路径(path)
      - name: number
        in: path
        required: true
        schema:
          type: string
        description: 第几个PR，即本仓库PR的序数。对应iid
      - name: access_token
        in: query
        required: true
        schema:
          type: string
        description: 用户授权码
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                testers:
                  type: string
                  description: 用户的个人空间地址, 以逗号分隔
              required:
              - testers
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  login:
                    type: string
                  name:
                    type: string
                  avatar_url:
                    type: string
                  object_id:
                    type: string
      x-doc-link: list/delete-api-v-5-repos-owner-repo-pulls-number-testers.md
    patch:
      summary: 重置 Pull Request测试 的状态
      operationId: patch_patch-api-v-5-repos-owner-repo-pulls-number-testers
      tags:
      - Pull Requests
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
        description: 仓库所属空间地址(组织或个人的地址path)
      - name: repo
        in: path
        required: true
        schema:
          type: string
        description: 仓库路径(path)
      - name: number
        in: path
        required: true
        schema:
          type: integer
        description: 第几个PR，即本仓库PR的序数
      - name: access_token
        in: query
        required: true
        schema:
          type: string
        description: 用户授权码
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                reset_all:
                  type: boolean
                  description: 是否重置所有测试人，默认：false，只对管理员生效
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  ? ''
                  : type: object
      x-doc-link: list/patch-api-v-5-repos-owner-repo-pulls-number-testers.md
    post:
      summary: 指派用户测试 Pull Request
      operationId: post_post-api-v-5-repos-owner-repo-pulls-number-testers
      tags:
      - Pull Requests
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
        description: 仓库所属空间地址(组织或个人的地址path)
      - name: repo
        in: path
        required: true
        schema:
          type: string
        description: 仓库路径(path)
      - name: number
        in: path
        required: true
        schema:
          type: integer
        description: 第几个PR，即本仓库PR的序数
      - name: access_token
        in: query
        required: true
        schema:
          type: string
        description: 用户授权码
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                testers:
                  type: string
                  description: 用户的个人空间地址, 以逗号分隔
                add:
                  type: boolean
                  description: 是否新增测试人，为true会新增测试人，false则为覆盖更新测试人，默认false
              required:
              - testers
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  login:
                    type: string
                  name:
                    type: string
                  avatar_url:
                    type: string
      x-doc-link: list/post-api-v-5-repos-owner-repo-pulls-number-testers.md
  /api/v5/repos/{owner}/{repo}/releases/{tag}/attach_files/{attach_file_id}:
    delete:
      summary: 删除Release附件
      operationId: delete_delete-api-v-5-repos-owner-repo-releases-tag-attach-files-attach-file-id
      tags:
      - Release
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
        description: 仓库所属空间地址（企业、组织或个人的地址path）
      - name: repo
        in: path
        required: true
        schema:
          type: string
        description: 仓库路径
      - name: tag
        in: path
        required: true
        schema:
          type: string
        description: tag名称
      - name: attach_file_id
        in: path
        required: true
        schema:
          type: string
        description: 附件的id
      - name: access_token
        in: query
        required: true
        schema:
          type: string
        description: 用户授权码
      responses:
        '204':
          description: ''
      x-doc-link: list/delete-api-v-5-repos-owner-repo-releases-tag-attach-files-attach-file-id.md
  /api/v5/repos/{owner}/{repo}/tags/{tag_name}:
    delete:
      summary: 删除仓库的一个Tag
      operationId: delete_delete-api-v-5-repos-owner-repo-tags-tag-name
      tags:
      - Tag
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
        description: 仓库所属空间地址(组织或个人的地址path)
      - name: repo
        in: path
        required: true
        schema:
          type: string
        description: 仓库路径(path)
      - name: tag_name
        in: path
        required: true
        schema:
          type: string
        description: tag名称
      - name: access_token
        in: query
        required: true
        schema:
          type: string
        description: 用户授权码
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  ? ''
                  : type: object
      x-doc-link: list/delete-api-v-5-repos-owner-repo-tags-tag-name.md
  /api/v5/user/keys/{id}:
    delete:
      summary: 删除一个公钥
      operationId: delete_delete-api-v-5-user-keys-id
      tags:
      - Users
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: 公钥 ID
      - name: access_token
        in: query
        required: true
        schema:
          type: string
        description: 用户授权码
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  ? ''
                  : type: object
      x-doc-link: list/delete-api-v-5-user-keys-id.md
    get:
      summary: 获取一个公钥
      operationId: get_get-api-v-5-user-keys-id
      tags:
      - Users
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: 公钥 ID
      - name: access_token
        in: query
        required: true
        schema:
          type: string
        description: 用户授权码
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  title:
                    type: string
                  key:
                    type: string
                  created_at:
                    type: string
                  url:
                    type: string
      x-doc-link: list/get-api-v-5-user-keys-id.md
  /api/v5/user/memberships/orgs/{org}:
    delete:
      summary: 退出一个组织
      operationId: delete_delete-api-v-5-user-memberships-orgs-org
      tags:
      - Organizations
      parameters:
      - name: org
        in: path
        required: true
        schema:
          type: string
        description: 组织的路径(path/login)
      - name: access_token
        in: query
        required: true
        schema:
          type: string
        description: 用户授权码
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  ? ''
                  : type: object
      x-doc-link: list/delete-api-v-5-user-memberships-orgs-org.md
    get:
      summary: 获取授权用户在一个组织的成员资料
      operationId: get_get-api-v-5-user-memberships-orgs-org
      tags:
      - Organizations
      parameters:
      - name: org
        in: path
        required: true
        schema:
          type: string
        description: 企业的路径(path/login)
      - name: access_token
        in: query
        required: true
        schema:
          type: string
        description: 用户授权码
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  path:
                    type: string
                  name:
                    type: string
                  url:
                    type: string
                  avatar_url:
                    type: string
                  user:
                    type: object
                  login:
                    type: string
                  html_url:
                    type: string
                  active:
                    type: integer
                  role:
                    type: string
                  organization:
                    type: object
      x-doc-link: list/get-api-v-5-user-memberships-orgs-org.md
  /api/v8/enterprises/{enterprise}/milestones/{milestone_id}:
    delete:
      summary: 删除企业里程碑
      operationId: delete_delete-api-v-8-enterprise-enterprise-id-milestones-milestone-id
      tags:
      - Enterprise
      parameters:
      - name: enterprise
        in: path
        required: true
        schema:
          type: string
        description: 企业id
      - name: milestone_id
        in: path
        required: true
        schema:
          type: string
        description: 里程碑id
      - name: access_token
        in: query
        required: true
        schema:
          type: string
        description: 用户授权码
      responses:
        '200':
          description: ''
      x-doc-link: list/delete-api-v-8-enterprise-enterprise-id-milestones-milestone-id.md
    get:
      summary: 获取企业里程碑详情
      operationId: get_get-api-v-8-enterprise-enterprise-id-milestones-milestone-id
      tags:
      - Enterprise
      parameters:
      - name: enterprise
        in: path
        required: true
        schema:
          type: string
        description: 企业id
      - name: milestone_id
        in: path
        required: true
        schema:
          type: string
        description: 里程碑id
      - name: access_token
        in: query
        required: true
        schema:
          type: string
        description: 用户授权码
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  title:
                    type: string
                  description:
                    type: string
                  state:
                    type: string
                  created_at:
                    type: string
                  updated_at:
                    type: string
                  due_date:
                    type: string
                  start_date:
                    type: string
                  projects:
                    type: array
      x-doc-link: list/get-api-v-8-enterprise-enterprise-id-milestones-milestone-id.md
    put:
      summary: 修改企业里程碑
      operationId: put_put-api-v-8-enterprise-enterprise-id-milestones-milestone-id
      tags:
      - Enterprise
      parameters:
      - name: enterprise
        in: path
        required: true
        schema:
          type: string
        description: 企业id
      - name: milestone_id
        in: path
        required: true
        schema:
          type: string
        description: 里程碑id
      - name: access_token
        in: query
        required: true
        schema:
          type: string
        description: 用户授权码
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: 名称
                description:
                  type: string
                  description: 描述
                start_date:
                  type: string
                  description: 开始时间, 格式%Y-%m-%d
                due_date:
                  type: string
                  description: 截止时间, 格式%Y-%m-%d
                state_event:
                  type: string
                  description: 里程碑状态。开启：active；关闭：closed
                projects:
                  type: array
                  description: 关联的项目
              required:
              - title
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  title:
                    type: string
                  description:
                    type: string
                  state:
                    type: string
                  created_at:
                    type: string
                  updated_at:
                    type: string
                  due_date:
                    type: string
                  start_date:
                    type: string
                  projects:
                    type: array
      x-doc-link: list/put-api-v-8-enterprise-enterprise-id-milestones-milestone-id.md
  /api/v8/enterprises/{enterprise}/members/{username}:
    delete:
      summary: 删除企业成员
      operationId: delete_delete-api-v-8-enterprises-enterprise-members-usernames
      tags:
      - Enterprise
      parameters:
      - name: enterprise
        in: path
        required: true
        schema:
          type: integer
        description: 企业id
      - name: username
        in: path
        required: true
        schema:
          type: string
      - name: access_token
        in: query
        required: true
        schema:
          type: string
        description: 用户授权码
      responses:
        '200':
          description: ''
      x-doc-link: list/delete-api-v-8-enterprises-enterprise-members-usernames.md
    get:
      summary: 获取企业的一个成员
      operationId: get_get-api-v-8-enterprises-enterprise-members-username
      tags:
      - Enterprise
      parameters:
      - name: enterprise
        in: path
        required: true
        schema:
          type: integer
        description: 企业id
      - name: username
        in: path
        required: true
        schema:
          type: string
        description: 用户名(username/login)
      - name: access_token
        in: query
        required: true
        schema:
          type: string
        description: 用户授权码
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    type: object
                  avatar_url:
                    type: string
                  html_url:
                    type: string
                  id:
                    type: string
                  object_id:
                    type: string
                  login:
                    type: string
                  name:
                    type: string
                  url:
                    type: string
                  user_id:
                    type: string
                  active:
                    type: boolean
                  role:
                    type: string
                  role_name:
                    type: string
                  role_id:
                    type: string
                  role_name_cn:
                    type: string
                  enterprise_email:
                    type: string
      x-doc-link: list/get-api-v-8-enterprises-enterprise-members-username.md
    put:
      summary: 修改企业成员权限
      operationId: put_put-api-v-8-enterprises-enterprise-members-username
      tags:
      - Enterprise
      parameters:
      - name: enterprise
        in: path
        required: true
        schema:
          type: integer
        description: 企业id
      - name: username
        in: path
        required: true
        schema:
          type: string
        description: 用户名(username/login)
      - name: access_token
        in: query
        required: true
        schema:
          type: string
        description: 用户授权码
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                role:
                  type: string
                  description: 企业角色(viewer:浏览者、tester:测试人、developer:研发、maintainer:维护者、admin:管理员、customized:自定义角色)
                role_id:
                  type: string
                  description: 角色ID, 如果role传入了customized则需要传入角色id
              required:
              - role
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  active:
                    type: integer
                  role:
                    type: string
                  url:
                    type: string
                  user:
                    type: object
                    description: 名称
                  id:
                    type: integer
                  login:
                    type: string
                  html_url:
                    type: string
                  name:
                    type: string
                    description: 名称
      x-doc-link: list/put-api-v-8-enterprises-enterprise-members-username.md
  /api/v8/enterprises/{enterprise_id}/label/{label_id}:
    delete:
      summary: 删除企业标签
      operationId: delete_delete-api-v-8-enterprises-enterprises-id-label-label-id
      tags:
      - Enterprise
      parameters:
      - name: enterprise_id
        in: path
        required: true
        schema:
          type: integer
        description: 企业id
      - name: label_id
        in: path
        required: true
        schema:
          type: string
        description: 标签id
      - name: access_token
        in: query
        required: true
        schema:
          type: string
        description: 用户授权码
      responses:
        '200':
[...]
